.section-list{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .section-card-list{
        width: 100%;
        height: 27rem;

        padding: 3rem;

        overflow-y: scroll;
    }
    
    .list-users-ul{
        width: 42%;
        
        margin: 0 auto;

        .section-filter{
            width: 100%;

            display: flex;
            justify-content: space-between;

            margin: 1rem;
            text-align: center;

            .input-filter{
                width: 50%;
                height: 2.5rem;

                border: none;
                font-size: 14px;
                padding: 0% 0.5rem ;
                margin-right: 1rem;
                border-radius: 0.5rem;

                box-shadow: 1px 1px 10px #d1d1d1;
            }

            .icon-filter{
                width: 100%;

                padding: 0.5rem;
                border-radius: 5rem;
                
                color: white;
                background-color: #32a1d4;
            }
            
            .icon-filter:hover{
                  background-color: #2288b8 ;
            }
        }
        .list-users-title{
            width: 115%;
            
            display: flex;
            align-items: center;
            justify-content: space-between;

            
            margin-top: 3rem;
            padding-bottom: 0.5rem;
            
            border-bottom: 1px solid #d4d4d4;

            .list-users-icon{
                font-size: 1.8rem; 

                color: #2288b8 ;
            }
            .button-close{
                width: 4rem;
                height: 2.5rem;
                border-radius: 0.5rem;

                .list-users-close{
                    width: 90%;
            
                    text-align: center;
                }
            }

            .button-close:hover{
                transition: 1s;

                background-color: #2288b8;
            }

            span{
                font-weight: 600;

                font-size: 1.4rem;
                margin-left: 0.5rem;
                letter-spacing: 1px;
            }
        }

        .list-users-li{
            width: 100%;
            
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-between;

            padding: 0.5rem 1rem;
            margin-left: -1rem;
            margin-bottom: 1rem;
            
            border-radius: 0.5rem;
            border-left: 4px solid  #32a1d4;

            background-color: white;
            box-shadow: 1px 1px 10px #c0c0c0;

            > div {
                display: flex;

                align-items: center;

                span:first-child{
                    font-weight: 600;
                }
                
                span:last-child{
                    color: #494949;
                }

                img{
                    width: 5rem;
                    height: 5rem;
                
                    border-radius: 20rem;
                }
                
                .list-users-info{
                    display: flex;
                    flex-direction: column;
                
                    margin-left: 1rem;

                }
            }
        }

        button{
            border: none; 
            border-radius: 5rem;
            padding: 0.5rem 1.2rem;
            
            font-size: 13px;
            letter-spacing: 1px;
            
            color: white;
            background-color: #32a1d4 ;
        } 
    }
}

::-webkit-scrollbar {
    width: 10px;
    
    border-radius: 5rem;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem !important;
 
    background: linear-gradient(#b9dff1, #31a2d6);
}
